<div class="article-list">
	<div class="col-3 left-aside">
		<div class="cover-img" style="background-image: url(../img/home-bg.jpg)"></div>
		<div class="bottom-block">
	      <h1>互娱</h1>
	      <h3>浣聚熊.聚前沿</h3>
	      <p>一个立志于技术开放和分享的博客社区</p>
	      <a class="btn btn btn-large btn-green" ng-click="write()">写博客</a>
	    </div>
	</div>
	<div class="col-7">
		<div class="page-title">
			<ul class="navigation">
				<li>
					<a>博客列表</a>
				</li>
				<li class="search">
					<input type="text" placeholder="搜索" class="input-medium search-query">
				</li>
			</ul>
		</div>
		<div class="list-content">
			<ul class="sort-nav" id="sortNav">
				<li class="active" data-type="0"><a href="">全部博文</a></li>
				<li data-type="1"><a href="">HTML/CSS</a></li>
				<li data-type="2"><a href="">JavaScript</a></li>
				<li data-type="3"><a href="">用户研究</a></li>
				<li data-type="4"><a href="">团队生活</a></li>
				<li data-type="5"><a href="">其它系列</a></li>
			</ul>
			<ul class="article-list-wrap">
				<!-- <li>
				    <div>
				      <p class="list-top">
				        <a class="author-name blue-link" target="_blank" href="/users/2769cc7732a7">时尚先生Esquire</a>
				        <em>·</em>
				        <span class="time" data-shared-at="2015-06-24T15:17:19+08:00">4天之前</span>
				      </p>
				      <h4 class="title">
				      	<a target="_blank" href="/p/70cf4e9394f3">男装周∣穿Z Zegna可返老还童！井柏然的衣橱大概就这样吧</a>
				      </h4>
				      <div class="list-footer">
				        <a target="_blank" href="/p/70cf4e9394f3">阅读 6980</a>        
						<a target="_blank" href="/p/70cf4e9394f3#comments">· 评论 1</a>        
				      </div>
				    </div>
				</li> -->
				<li ng-repeat="item in articles">
				    <div>
				      <p class="list-top">
				        <a class="author-name blue-link" href="/home/mypage/{{item.uid}}">{{item.nickname}}</a>
				        <em>·</em>
				        <span class="time">{{item.time | timeFilter}}之前</span>
				      </p>
				      <h4 class="title">
				      	<a href="/home/myarticle/{{item._id}}">{{item.title}}</a>
				      </h4>
				      <div class="list-footer">
				        <a>阅读 {{item.pv}}</a>        
						<a>· 评论 {{item.comment.length}}</a>        
				      </div>
				    </div>
				</li>
			</ul>
		</div>
	</div>
</div>
