<div class="mypage">
	<div class="col-3 left-aside">
		<div class="people">
		  <div class="basic-info">
		    <div class="avatar">
		      <img src="../img/avatar-default.png">
		    </div>
		    <h3>	
		    	<a ng-if="user.id == id">{{user.nickname}}</a>
		    	<a ng-if="user.id != id">{{articles[0].nickname}}</a>
		    </h3>
		    <p class="introduction" ng-if="user.introduction">{{user.introduction}}</p>
		  </div>
		</div>
	</div>
	<div class="col-7">
		<ul class="nav-articles">
			<li><a>我的博文</a></li>
		</ul>

		<div class="list-content">
			<ul class="article-list-wrap">
				<!-- <li>
				    <div>
				      <p class="list-top">
				        <span class="time">大约1分钟之前</span>
				      </p>
				      <h4 class="title"><a target="_blank" href="/p/7d38690b64fd">测试文章一</a></h4>
				      <div class="list-footer">
				        <a target="_blank" href="/p/7d38690b64fd">
				          阅读 1
						</a>        
						<a target="_blank" href="/p/7d38690b64fd#comments">
				           · 评论 0
						</a>        
				      </div>
				    </div>
				</li> -->
				<li ng-repeat="item in articles">
				    <div>
				      <p class="list-top">
				        <span class="time">{{item.time | timeFilter}}之前</span>
				      </p>
				      <h4 class="title"><a ng-click="goDetail(item._id)">{{item.title}}</a></h4>
				      <div class="list-footer">
				        <a>阅读 {{item.pv}}</a>        
						<a>· 评论 {{item.comment.length}}</a>        
				      </div>
				    </div>
				</li>
			</ul>
		</div>
	</div>
</div>
